<!-- footer-copyright start -->
<footer class="footer-copyright">
    <div class="container">
        <div class="footer-content">
            <div class="row">

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <div class="footer-logo">
                            <a href="index.html">
                tour
                <span>Nest</span>
              </a>
                            <p>
                                best travel agency
                            </p>
                        </div>
                    </div>
                    <!--/.single-footer-item-->
                </div>
                <!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>link</h2>
                        <div class="single-footer-txt">
                            <p>
                                <a href="#">home</a>
                            </p>
                            <p>
                                <a href="#">destination</a>
                            </p>
                            <p>
                                <a href="#">spacial packages</a>
                            </p>
                            <p>
                                <a href="#">special offers</a>
                            </p>
                            <p>
                                <a href="#">blog</a>
                            </p>
                            <p>
                                <a href="#">contacts</a>
                            </p>
                        </div>
                        <!--/.single-footer-txt-->
                    </div>
                    <!--/.single-footer-item-->

                </div>
                <!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>popular destination</h2>
                        <div class="single-footer-txt">
                            <p>
                                <a href="#">china</a>
                            </p>
                            <p>
                                <a href="#">venezuela</a>
                            </p>
                            <p>
                                <a href="#">brazil</a>
                            </p>
                            <p>
                                <a href="#">australia</a>
                            </p>
                            <p>
                                <a href="#">london</a>
                            </p>
                        </div>
                        <!--/.single-footer-txt-->
                    </div>
                    <!--/.single-footer-item-->
                </div>
                <!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item text-center">
                        <h2 class="text-left">contacts</h2>
                        <div class="single-footer-txt text-left">
                            <p>+1 (300) 1234 6543</p>
                            <p class="foot-email">
                                <a href="#">info@tnest.com</a>
                            </p>
                            <p>North Warnner Park 336/A</p>
                            <p>Newyork, USA</p>
                        </div>
                        <!--/.single-footer-txt-->
                    </div>
                    <!--/.single-footer-item-->
                </div>
                <!--/.col-->

            </div>
            <!--/.row-->

        </div>
        <!--/.footer-content-->
        <hr>
        <div class="foot-icons ">
            <ul class="footer-social-links list-inline list-unstyled">
                <li>
                    <a href="#" target="_blank" class="foot-icon-bg-1">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="foot-icon-bg-2">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="foot-icon-bg-3">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <p>&copy; 2017
                <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

        </div>
        <!--/.foot-icons-->
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
        <!--/.scroll-Top-->
    </div>
    <!-- /.container-->

</footer>
<!-- /.footer-copyright-->
<!-- footer-copyright end -->